.gallery {
    margin-bottom: 3%;
    
    &__title {
        @include title;
        font-size: 45px;
        text-align: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0% 20%;
    }
    
    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__bottom {
        margin-top: 2%;
        display: flex;
        justify-content: space-between;
    }
}

.img1 {
    background-image: url(../img/galery1.jpg);
    width: 32%;
}

.img2 {
    background-image: url(../img/galery2.jpg);
    width: 32%;
}

.img3 {
    background-image: url(../img/galery3.jpg);
    width: 32%;
}

.img4 {
    background-image: url(../img/galery4.jpg);
    width: 32%;
}

.img5 {
    background-image: url(../img/galery5.jpg);
    width: 66%;
}

.img1, .img2, .img3, .img4, .img5  {
    height: 400px;
    background-position: center;
    background-size: cover;
}

.hover {
    opacity: 0.6;
    transition: all 1s;
}

.hover:hover {
    opacity: 1;
    transition: all 0.5s;
}


