.header {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 1% 0% 1%;
    position: fixed;

    &__logo {
        width: 12%;
    }

    &__nav {
        width: 35%;
        display: flex;
    }
    &__nav--link {
        margin: 0% 5%; 
        text-decoration: none;
    }

    &__language {
        width: 10%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &__language--link {
        width: 100%;
        color: white;
        
    }
    &__language:hover {
        width: 10%;
        height: 30%;
        
    }
    &__language:hover {
        
    }
}

.active {
    display:block;
}