.map {
    background-color: #0C0C0C;
    padding: 2%;

    &__title {
        @include title;
        text-align: center;
        font-size: 45px;
        margin: 5% 0%;
    }

    &__container {
        width: 80%;
        height: 450px;
        margin: 2% 10% 4%;
    }
}