@media screen and (max-width: 1024px){
    .header__nav--link {
        font-size: 13px;
    }
    .previe__title {
        font-size: 45px;
    }
    .previe__subtitle {
        font-size: 11px;
    }
    .about__title {
        font-size: 35px;
    }
    .about__container--content {
        font-size: 14px;
    }
    .gallery__container {
        width: 80%;
        margin: 0% 10%;
    }
    .products__title {
        font-size: 35px;
    }
    .slide__subtitle {
        width: 90%;
        margin: 0% 5%;
    }
    .tagline__content {
        padding: 3% 1%;
    }
    .tagline__content--title, .tagline__content--link {
        font-size: 14px;
    }
    .map__title {
        font-size: 35px;
    }
    .map__container {
        width: 90%;
        height: 450px;
        margin: 2% 5% 4%;
    }
    .contact__title {
        font-size: 35px;
    }
}

@media screen and (max-width: 768px){
    .header__language {
        display: none;
    }
    .header__nav {
        display: none;
    }
    .hamburger-menu {
        display: block;
      }
    .header {
        position: fixed;

        &__logo {
            width: 15%;
        }
    }
    .previe__title {
        font-size: 30px;
        margin-bottom: 10%;
    }
    .previe__btn {
        padding: 3% 13%;
    }
    .about {
        display: flex;
        flex-direction: column;

        &__title {
            width: 100%;
        }
        &__container{
            width: 70%;
            margin: 0% 15%;
        }
    }
    .gallery__title {
        font-size: 35px;
    }
    .gallery__top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .hover {
        opacity: 1;
    }
    .img1, .img2, .img3, .img4, .img5  {
        width: 45%;
        margin: 2%;
    }
    .prise__title {
        font-size: 35px;
    }
    .products__title {
        font-size: 30px;
    }
    .slide__title {
        font-size: 20px;
    }
    .slide__subtitle {
        font-size: 14px;
    }
    .map__container {
        height: 400px;
    }
    .contact__btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px){
    .gallery__top {
        display: flex;
    }
    .img1, .img2, .img3, .img4, .img5  {
        width: 90%;
    }
    .slide__subtitle {
        font-size: 11px;
    }
    .tagline {
        background-image: url(../img/car.jpg);
        background-size: cover;
        background-position: center;
    }
    .tagline__content--title, .tagline__content--link {
        font-size: 12px;
    }
    .tagline__img--left, .tagline__img--right {
        display: none;
    }
    .tagline__content {
        background-color: black;
        width: 60%;
        margin: 0% 20%;
        padding: 5% 1%;
    }
    .contact__btn {
        width: 70%;
    }

}

@media screen and (max-width: 540px){
    .header {
        position: fixed;

        &__logo {
            width: 20%;
        }
    }
    .menu__btn {
        top: 35px;
    }
    .previe__container {
        padding: 15% 20% 13% 15%;
    }
    .previe__title {
        font-size: 25px;
    }
    .previe__subtitle {
        font-size: 10px;
    }
    .previe__btn {
        padding: 4% 17%;
        margin-top: 4%;
    }
    .about__title {
        font-size: 30px;
    }
    .about__container--content {
        font-size: 13px;
    }
    .gallery__title {
        font-size: 30px;
    }
    .gallery__bottom {
        display: flex;
        flex-direction: column;
        margin: 0%;
    }
    .img1, .img2, .img3, .img4, .img5  {
        width: 100%;
        margin: 2% 0%;
    }
    .prise__title {
        font-size: 30px;
    }
    .prise__item, .prise__amount {
        font-size: 15px;
    }
    .slide__title {
        font-size: 12px;
    }
    .slide__subtitle {
        font-size: 8px;
    }
    .map__title {
        font-size: 30px;
    }
    .contact__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 425px){
    .header {
        position: fixed;

        &__logo {
            width: 30%;
        }
    }
    .menu__btn {
        top: 40px;
    }
    .previe__container {
        padding: 23% 20% 13% 15%;
    }
    .about__container {
        width: 80%;
        margin: 0% 10%;
    }
    .prise__item, .prise__amount {
        font-size: 12px;
    }
    .tagline__content--title, .tagline__content--link {
        font-size: 10px;
    }
    .contact__container {
        display: flex;
        flex-direction: column;
    }
    .contact__block {
        width: 100%;
    }
}

@media screen and (max-width: 320px){
    .slide__title {
        font-size: 10px;
    }
    .slide__subtitle {
        font-size: 6px;
    }
}