.previe {
    width: 100%;
    background-image: url(../img/work1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    &__container {
        padding: 13% 20% 13% 15%;
    }

    &__title {
        @include title;
        font-size: 55px;
    }

    &__subtitle {
        color: white;
    }

    &__btn {
        padding: 2% 10%;
        font-size: 13px;
        background-color: black;
        color: white;
        border: none;
    }
}