* {  
  font-family: 'Roboto', sans-serif;
}
body {
    position: relative;
    background-color: black;
    margin: 0%;
}

@mixin title {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.link {
    color: #F5F1E999;
    opacity: 0,7;
    transition: all 1s;
}
.link:hover{
    transition: all 0.5s;
    opacity: 1;
    color: white;
}