* {
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  background-color: black;
  margin: 0%;
}

.link {
  color: rgba(245, 241, 233, 0.6);
  opacity: 0, 7;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.link:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  color: white;
}

.header {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0% 1% 0% 1%;
  background-color: black;
}
.header__logo {
  width: 12%;
}
.header__nav {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav--link {
  margin: 0% 5%;
  text-decoration: none;
}
.header__language {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.header__language--link {
  width: 100%;
  color: white;
  display: none;
  margin: 5%;
  background: none;
  border: none;
  opacity: 0.7;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-decoration: none;
}
.header__language:hover .header__language--link {
  display: block;
}

.active {
  display: block;
}

.previe {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.313)), to(rgba(0, 0, 0, 0.8))), url(../img/work1.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.313), rgba(0, 0, 0, 0.8)), url(../img/work1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 3%;
}
.previe__container {
  padding: 13% 20% 13% 15%;
}
.previe__title {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 55px;
}
.previe__subtitle {
  color: white;
  font-size: 15px;
  line-height: 0.5;
  letter-spacing: 2px;
}
.previe__btn {
  border: 1px solid rgb(0, 0, 0);
  padding: 2% 10%;
  font-size: 13px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-decoration: none;
}

.about {
  background-color: #0A0A0A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 3%;
}
.about__title {
  width: 30%;
  font-size: 40px;
  padding: 3%;
  margin: 0%;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}
.about__container {
  width: 50%;
  padding: 5%;
}
.about__container--content {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.844);
}

.gallery {
  margin-bottom: 3%;
}
.gallery__title {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 45px;
  text-align: center;
}
.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: 0% 20%;
}
.gallery__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery__bottom {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img1 {
  background-image: url(../img/galery1.jpg);
  width: 32%;
}

.img2 {
  background-image: url(../img/galery2.jpg);
  width: 32%;
}

.img3 {
  background-image: url(../img/galery3.jpg);
  width: 32%;
}

.img4 {
  background-image: url(../img/galery4.jpg);
  width: 32%;
}

.img5 {
  background-image: url(../img/galery5.jpg);
  width: 66%;
}

.img1, .img2, .img3, .img4, .img5 {
  height: 400px;
  background-position: center;
  background-size: cover;
}

.hover {
  opacity: 0.6;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.hover:hover {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.prise {
  color: white;
  padding: 1% 5% 5%;
  border-top: 4px solid red;
}
.prise__title {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  font-size: 45px;
}
.prise__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3%;
}
.prise__amount {
  font-weight: bold;
}

.products {
  background-color: hsl(0, 0%, 4%);
  margin: 0%;
  padding: 3% 5%;
}
.products__title {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0%;
  text-align: center;
  font-size: 45px;
}

.slider {
  width: 100%;
  margin-top: 5%;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
  opacity: 0.7;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.slide__img--container {
  width: 30%;
  margin: 5% 35%;
}
.slide__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slide__title {
  text-align: center;
  margin: 0% 25%;
  width: 50%;
  font-size: 25px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.slide__subtitle {
  text-align: center;
  width: 50%;
  margin: 0% 25%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide:hover {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slick-prev .slick-arrow {
  display: none;
}

.interior {
  width: 50%;
  margin: 0% 25%;
}

.prewash {
  width: 80%;
  margin: 0% 10%;
}

.tagline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  text-align: center;
}
.tagline__content {
  padding: 5% 1%;
}
.tagline__content--title {
  margin: 15% 0%;
}
.tagline__content--link {
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 4% 15%;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.tagline__content--link:hover {
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.tagline__img--left {
  width: 33%;
  background-image: url(../img/work2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.tagline__img--right {
  width: 33%;
  background-image: url(../img/worker.jpg);
  background-size: cover;
  background-position: 0% 60%;
}

.map {
  background-color: #0C0C0C;
  padding: 2%;
}
.map__title {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  font-size: 45px;
  margin: 5% 0%;
}
.map__container {
  width: 80%;
  height: 450px;
  margin: 2% 10% 4%;
}

.contact {
  background-color: rgba(6, 6, 6, 0.6823529412);
  color: white;
  padding: 3%;
}
.contact__title {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 45px;
  margin: 0% 0% 3%;
  text-align: center;
}
.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contact__block {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact__phone {
  text-align: center;
}
.contact__btn {
  width: 50%;
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  padding: 3% 7%;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  background: none;
}
.contact__btn:hover {
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contact__btn--link {
  text-decoration: none;
  color: white;
}
.contact__social {
  text-align: center;
}
.contact__link {
  margin: 3%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 1s;
  transition: all 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__link:hover {
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contact__icon {
  fill: white;
  margin-right: 10px;
}

.footer {
  padding: 1%;
}
.footer__title {
  color: white;
  text-align: center;
  font-size: 20px;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 40px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #1c1c1c;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header__nav--link {
    font-size: 13px;
  }
  .previe__title {
    font-size: 45px;
  }
  .previe__subtitle {
    font-size: 11px;
  }
  .about__title {
    font-size: 35px;
  }
  .about__container--content {
    font-size: 14px;
  }
  .gallery__container {
    width: 80%;
    margin: 0% 10%;
  }
  .products__title {
    font-size: 35px;
  }
  .slide__subtitle {
    width: 90%;
    margin: 0% 5%;
  }
  .tagline__content {
    padding: 3% 1%;
  }
  .tagline__content--title, .tagline__content--link {
    font-size: 14px;
  }
  .map__title {
    font-size: 35px;
  }
  .map__container {
    width: 90%;
    height: 450px;
    margin: 2% 5% 4%;
  }
  .contact__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 768px) {
  .header__language {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .hamburger-menu {
    display: block;
    padding: 2%;
  }
  .menu__lang {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 5% 0%;
    margin-bottom: 5%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }
  .menu__link {
    width: 15%;
    text-decoration: none;
  }
  .menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0% 3%;
  }
  .header__nav--link {
    text-align: end;
    margin: 2%;
    font-size: 20px;
  }
  .active {
    color: white;
  }
  .header {
    position: fixed;
  }
  .header__logo {
    width: 15%;
  }
  .previe__title {
    font-size: 30px;
    margin-bottom: 10%;
  }
  .previe__btn {
    padding: 3% 13%;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__title {
    width: 100%;
  }
  .about__container {
    width: 70%;
    margin: 0% 15%;
  }
  .gallery__title {
    font-size: 35px;
  }
  .gallery__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hover {
    opacity: 1;
  }
  .img1, .img2, .img3, .img4, .img5 {
    width: 45%;
    margin: 2%;
  }
  .prise__title {
    font-size: 35px;
  }
  .products__title {
    font-size: 30px;
  }
  .slide__title {
    font-size: 20px;
  }
  .slide__subtitle {
    font-size: 14px;
  }
  .map__container {
    height: 400px;
  }
  .contact__btn {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .gallery__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .img1, .img2, .img3, .img4, .img5 {
    width: 90%;
  }
  .slide__subtitle {
    font-size: 11px;
  }
  .tagline {
    background-image: url(../img/car.jpg);
    background-size: cover;
    background-position: center;
  }
  .tagline__content--title, .tagline__content--link {
    font-size: 12px;
  }
  .tagline__img--left, .tagline__img--right {
    display: none;
  }
  .tagline__content {
    background-color: black;
    width: 60%;
    margin: 0% 20%;
    padding: 5% 1%;
  }
  .contact__btn {
    width: 70%;
  }
}
@media screen and (max-width: 540px) {
  .header {
    position: fixed;
  }
  .header__logo {
    width: 20%;
  }
  .menu__btn {
    top: 35px;
  }
  .menu__link {
    width: 33%;
    text-align: center;
  }
  .header__nav--link {
    font-size: 17px;
  }
  .previe__container {
    padding: 15% 20% 13% 15%;
  }
  .previe__title {
    font-size: 25px;
  }
  .previe__subtitle {
    font-size: 10px;
  }
  .previe__btn {
    padding: 4% 17%;
    margin-top: 4%;
  }
  .about__title {
    font-size: 30px;
  }
  .about__container--content {
    font-size: 13px;
  }
  .gallery__title {
    font-size: 30px;
  }
  .gallery__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0%;
  }
  .img1, .img2, .img3, .img4, .img5 {
    width: 100%;
    margin: 2% 0%;
  }
  .prise__title {
    font-size: 30px;
  }
  .prise__item, .prise__amount {
    font-size: 15px;
  }
  .slide__title {
    font-size: 12px;
  }
  .slide__subtitle {
    font-size: 8px;
  }
  .map__title {
    font-size: 30px;
  }
  .contact__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 425px) {
  .header {
    position: fixed;
  }
  .header__logo {
    width: 30%;
  }
  .menu__btn {
    top: 40px;
  }
  .menu__link {
    font-size: 13px;
  }
  .header__nav--link {
    font-size: 13px;
  }
  .previe__container {
    padding: 23% 20% 13% 15%;
  }
  .about__container {
    width: 80%;
    margin: 0% 10%;
  }
  .prise__item, .prise__amount {
    font-size: 12px;
  }
  .tagline__content--title, .tagline__content--link {
    font-size: 10px;
  }
  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__block {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .slide__title {
    font-size: 10px;
  }
  .slide__subtitle {
    font-size: 6px;
  }
}